<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Movie2Vec Recommender</title>

  <meta name="description" content="Galvanize DSI Capstone Project">
  <meta name="author" content="Nikhil Makaram">

</head>

<body>

  <h1>Submit Your Movies</h1>
  <p>Enter the movies you want to add (pipe-separated) into the input box
    below on the left, and the movies you want to subtract (pipe-separated)
    into the input box below on the right.</p>
  <p>Click the <span>Recommend</span> button to get your movie recommendations.</p>

  <form action="/predict" method='POST' >
      <textarea name="pos_movies_entered",
                rows="1", cols="60"></textarea>
      <textarea name="neg_movies_entered",
                rows="1", cols="60"></textarea>
      <button type="submit">Recommend</button>
  </form>

</body>
</html>
